<?xml version="1.0"?>
<configuration>
  <skypeusername>
    check_user1
  </skypeusername>
  <skypepassword>
    check_user1
  </skypepassword>
  <skypeDetails>
    <skypeusername>
      check_user1
    </skypeusername>
    <skypepassword>
      check_user1
    </skypepassword>
  </skypeDetails>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
